@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    font-family:'Roboto', sans-serif;
}
.title{
    margin-bottom: 18px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}
body{
    background-color: #f5f5f5;
}
.form-control{
    width: 390px;
    height: 50px;
    font-size:18px;
}
.btn-primary{
    width: 390px;
}
.container>form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-check-input{
    margin-bottom: 15px;
}
.logo{
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-check-label{
    color:gray;
}